body {
    height: 100vh;
    background-image: linear-gradient(to right top, #ff7b54, #ff9770, #ffd56b, #fffb92, #d4fc79);
    background-image: -webkit-linear-gradient(to right top, #ff7b54, #ff9770, #ffd56b, #fffb92, #d4fc79);
}

p {
    color: #333333;
}

button {
    background-image: linear-gradient(to right top, #6a11cb, #2575fc);
}

#reset {
    color: #FFF;
}

.rps {
    border-radius: 50%;
    padding: 1rem;
    background-color: transparent;
    border: 0 solid white;
    padding: 2rem;
}

.rps > i {
    font-size: 3rem;
    /* color: #fffb00; */
}

.x1 {
    color: #FF6347;
}

.x2 {
    color: #3CB371;
}

.x3 {
    color: #FFD700;
}

.rot {
    rotate: 85deg;
}

.para2 {
    font-size: xxx-large;
    color: #fffb00;
}
