body {
    background-image: url(./images/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#button {
    top: 25rem;
    left: 10rem;
}

.fadeInTop { 
    animation-name: fadeInTop; 
    animation-duration: 1s;
}
@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to { opacity: 1 }
}